@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus{
  outline: none;
}

body{
  background: linear-gradient(167.44deg, #621de2 0%, #7a3dca 47.38%, #8b41d1 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  padding: 10px 0 60px 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: 72px;
}

h2{
  font-size: 46px;
}

h3{
  font-size: 38px;
}

h4{
  font-size: 34px;
}

p{
  font-size: 22px;
}

input{
  color: #08244F;
  text-align: center;
}

.main{
  text-align: center;
}

.info_humidity:before{
  content: url(./images/water.svg);
  position: absolute;
  top: 6px;
  left: -26px;
}

.info_speed:before{
  content: url(./images/wind.svg);
  position: absolute;
  top: 4px;
  left: -26px;
}

.info_pressure:before{
  content: url(./images/pressure.svg);
  position: absolute;
  top: 2px;
  left: -12px;
}

.info_card{
  position: relative;
}


/* Daily styles */

.daily_icon{
  height: 5rem;
  object-fit: cover;
  transform: scale(1.08);
  margin-top: -16px;
}



